.nav-container {
    display: flex; /*по умолчанию основная ось горизонтальна слева направо*/
    background-color: rgb(142, 90, 147);
    gap: 10px; /*данное свойство устанавливает равные отступы между элементами внутри контейнера*/
    justify-content: space-between;
    flex-grow: 1;
    background-image: linear-gradient(180deg, rgb(118, 52, 126), rgb(189, 84, 201));
}

@media screen and (max-width: 640px) {
    .nav-container {
        flex-direction: column;
    }
    .nav-block {
        flex-direction: column;
    }
}

.nav-block {
    display: flex;
}

.nav-item {
    padding: 15px;
    text-align: center;
    font: 700 20px "Roboto", sans-serif;
    color: rgb(227, 208, 230);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.nav-link {
    color: rgb(227, 208, 230);
    text-decoration: none;
}


